.cart-page {
  width: 80%;
  margin: 50px auto;

}

.cart-title {
  font-size: 56px;
  margin-bottom: 30px;
}

.error-message {
  color: red;
}
/* Cart and checkout sections */
.cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: flex-start;
}

/* Cart Table */
.cart-items {
  border-collapse: collapse;
  width: 100%;
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #ddd; 
}

.cart-item {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.product-image {
  width: 150px;
  height: auto;
}

.product-name {
  font-weight: bold;
  font-size: 24px;
}

.quantity-input {
  width: 50px;
  text-align: center;
  
}

.delete-icon {
  color: red;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.delete-icon:hover {
  color: darkred;
}

/* Checkout Section */
.checkout-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.cart-container h2 {
  margin-bottom: 15px;
  font-size: 30px;
}

.total-line {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.shipping-options {
  margin: 15px 0;
}

.shipping-options label {
  display: block;
  margin: 5px 0;
}

.checkout-button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.checkout-button:hover {
  background: #333;
}