

/* Container styling */
.collection-container {
  display: flex;
  gap: 30px;
  padding: 20px;
}

/* Sidebar Filters */
.filter-options {
  width: 280px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-options p{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Styled checkboxes */
.category-filter input[type="checkbox"] {
  margin-right: 10px ;
  accent-color: #007bff;
}

/* Price Range Sliders */
.price-filter input[type="range"] {
  width: 100%;
  margin-top: 5px;
}

/* Product styles */
.product-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;

}
.product-title h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Product header (Counter + Sort) */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

/* Product counter */
.product-count {
  font-size: 16px;
  font-weight: bold;
}

/* Sort Dropdown */
.product-sort {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.product-sort select {
  font-weight: 500;
  border: none;
  font-size: 14px ;
  cursor: pointer;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

