

/* Container styling */
.collection-container {
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: #121212;
  padding-top: 50px;
  padding-right: 150px;
}

/* Sidebar Filters */
.filter-options {
  width: 280px;
  padding: 20px;
  color: #fff;
  margin-left: 80px;
}
.filter-options h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
}

.filter-options p{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Styled checkboxes */
.category-filter input[type="checkbox"] {
  margin-right: 10px ;
  accent-color: #333;
}

/* Price Range Sliders */
.price-filter {
  margin-top: 30px;
}


.price-filter input[type="range"] {
  width: 100%;
  margin-top: 5px;
}


/* Product styles */
.product-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: #fff;
}

.product-title h1 {
  text-align: left;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Product header (Counter + Sort) */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Product counter */
.product-count {
  font-size: 16px;
  font-weight: bold;
}

/* Sort Dropdown */
.product-sort {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.product-sort select {
  font-weight: 500;
  border: none;
  font-size: 14px ;
  cursor: pointer;
  background-color: #121212;
  color: #fff;
}

.product-sort select option {
  padding: 30px;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 20px;
  width: 100%;
  
}

